<!--
===============================================
 PROJECT: Poroject-showcase About Us page

-----------------------------------------------
FILE: index.html

-----------------------------------------------

SUMMARY:

This is the about us page of the project 
showcase website. Linked to external CSS page
"index.css"

-----------------------------------------------
Author: Usman Iqbal


===============================================
-->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project.</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="./about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
    <%- include("partials/header") %>
        <main>
            <section id="hero-section">

                <div class="main-photo-container">
                    <img class="main-photo" src="images/steve-johnson-vYopT2C2sa4-unsplash.jpg"
                        alt="This is abstract background">
                </div>
                <div id="hero-text">
                    <h1 id="item1">About Us</h1>
                    <p id="item2">scroll </p>
                    <p id="item3">Designed to showcase your impressive work to potential employers and land you the job
                        of
                        your dreams.</p>
                </div>

            </section>

            <section id="banner">

                <div id="banner-container">
                    <p id="banner-item1">case</p>
                    <p id="banner-item2"></p>
                    <p id="banner-item3">Project-showcase</p>
                </div>

            </section>


            <section id="Our-mission">

                <div class="grid-container">
                    <div class="grid-item1">Our Mission </div>
                    <div class="grid-item2">
                        <h2 id="grid-item-title">2025</h2>
                        <p id="grid-item-paragraph">Established</p>
                    </div>
                    <div class="grid-item3">
                        <h2 id="grid-item-title">CV</h2>
                        <p id="grid-item-paragraph">Personalisation</p>
                    </div>
                    <div class="grid-item4">
                        <h2 id="grid-item-title">0</h2>
                        <p id="grid-item-paragraph">cost</p>
                    </div>
                    <div class="grid-item5">Our goal is simple: to help students display their creativity, skills, and
                        expertise through real-world projects. Whether you're a designer, developer, writer, or
                        engineer,
                        Projects. provides a space where your work takes center stage.
                        <br>
                        <br>
                        Your work deserves to be seen. Showcase your potential. Get discovered. Start your journey with
                        Projects. today. let's employeers take a glimpse of what the project work was really like.
                        <br>
                        <br>
                        Students from all backgrounds—whether you're studying computer science, graphic design,
                        engineering,
                        business, or any creative field—can use Projects. to highlight their skills and land
                        opportunities
                        with employeers all over the globe.

                    </div>
                </div>

            </section>


            <section id="how-it-works">
                <h3 id="HIW-section-title">How it works?</h3>
                <div class="how-it-works-container">
                    <div id="HIW1">
                        <h4 id="HIW-title">Create a profile</h4>
                        <p id="HIW-paragraph">Sign up and personalise your portfolio.</p>
                    </div>
                    <div id="HIW2">
                        <h4 id="HIW-title">Upload projects</h4>
                        <p id="HIW-paragraph">Showcase your best work, from code and designs to research and case
                            studies.
                        </p>
                    </div>
                    <div id="HIW3">
                        <h4 id="HIW-title">Create your CV</h4>
                        <p id="HIW-paragraph"> Your personalised cv will help you stand out to potential employers. </p>
                    </div>
                    <div id="HIW4">
                        <h4 id="HIW-title"> Get discovered </h4>
                        <p id="HIW-paragraph"> Employers and recruiters browse Projects. looking for fresh talent. </p>
                    </div>


                </div>

            </section>

            <section id="use-cases">
                <h3 id="use-cases-section-title">Why should you use <span>Projects</span><span>.</span></h3>
                <div id="use-cases-container">
                    <div>
                        <img src="images/austin-distel-KWsKzLGmmzQ-unsplash.jpg">
                    </div>
                    <div>
                        <img src="images/austin-distel-wD1LRb9OeEo-unsplash.jpg">
                    </div>
                    <div>
                        <img src="images/austin-distel-_S7-KX8geL0-unsplash.jpg">
                    </div>

                    <div>
                        <h5>Build your porfolio</h5>
                    </div>
                    <div>
                        <h5>Get noticed</h5>
                    </div>
                    <div>
                        <h5>Customise</h5>
                    </div>

                    <div>
                        <p>Upload your best work and create a professional portfolio.</p>
                    </div>
                    <div>
                        <p>Employers browse Projects. looking for fresh talent.</p>
                    </div>
                    <div>
                        <p>Stand out with your own unique look and create your own personalised CV.</p>
                    </div>


                </div>

            </section>
        </main>
        <%- include("partials/footer") %>
</body>

</html>