/* Reset margin and padding for html and body */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "manrope", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#hero-section {
  position: relative;
}

.main-photo-container {
  margin: 0px;
  position: relative;
  width: 100;
  height: 800px;
  /* border-style: solid; */
}

.main-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*Use object-position property to hnage position*/
}

.main-photo-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 1) 100%
  );
}

h1 {
  font-size: calc(4vw);
  bottom: 0%;
  margin: 0px;
}
#hero-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  align-items: end;
  margin-left: 9.7%;
  margin-right: 9.7%;
}
#hero-text * {
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
}
#item1 {
  min-width: 33%;
}

#item2 {
  text-align: center;
  /*you can also align items center by setting margin to auto*/
  color: #7a7b80;
  min-width: 33%;
  text-transform: uppercase;
}

#item2::after {
  content: ""; /* Required for pseudo-elements */
  display: inline-block;
  width: 24px; /* Adjust size */
  height: 24px; /* Adjust size */
  background-image: url("images/arrow_upward_24px.svg"); /* Path to your file */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0px; /* Adds spacing between text and icon */
  position: relative;
  top: 5px;
}

#item3 {
  color: #0d1e4f;
  max-width: 33%;
  margin-left: 10%;
  margin-right: 0;
  overflow: visible;
}

#banner {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
}
#banner-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#banner-container * {
  margin-top: 0;
  margin-bottom: 0;
}
#banner-item1 {
  flex-basis: calc(16.5%);
  max-width: 16.5%;
  font-size: 7.5vw;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
#banner-item2 {
  flex-basis: calc(19%);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: inline-block;
  height: 10vw;
  background-image: url("images/star_24px.png"); /* Path to your file */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#banner-item3 {
  flex-basis: calc(64.5%);
  max-width: 64.5%;
  font-size: 7.5vw;
  white-space: nowrap; /* prevents text from breaking */
  overflow-x: hidden;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
  margin-left: 9.7%;
  margin-right: 9.7%;
}

.grid-container * {
  text-align: center;
}
.grid-item1 {
  font-size: 48px;
  padding: 0;
  text-align: left;
  font-weight: 600;
  grid-column: 1 / 4;
}
.grid-item2 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.grid-item3 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}
.grid-item4 {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}
.grid-item5 {
  grid-column: 1 / 4;
  grid-row: 2 / 5;

  text-align: left;
  line-height: 250%;
  font-size: 18px;
  border-right: 1px solid rgb(187, 200, 212, 0.5);
  padding-right: 25px;
  color: #6d7d8b;
}
h2 {
  font-size: 50px;
  font-weight: 500;
}

#grid-item-title {
  margin: 0;
  text-align: left;
}

#grid-item-paragraph {
  text-align: left;
}

#how-it-works {
  margin-left: 9.7%;
  margin-right: 9.7%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.how-it-works-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.how-it-works-container > * {
  min-height: 25vw;
  border-radius: 10px;
  color: #373a4a;
  margin-bottom: 0;
  margin-top: 0;
}

h3 {
  margin-top: 0;
  font-size: 48px;
  font-weight: 600;
}

#HIW-title {
  margin: 0;
  margin-left: 16.3%;
  margin-top: 16.3%;
  font-size: 2vw;
  font-weight: 200;
}

#HIW1 {
  grid-column: 1 /2;
  grid-row: 1 / 2;
  background-color: #d7ddf6;
}
#HIW2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #e2e6f6;
}
#HIW3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #d7ddf6;
}
#HIW4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: #e2e6f6;
}

#HIW-paragraph {
  margin: 0;
  padding-top: 32.7%;
  padding-bottom: 21.7%;
  padding-right: 9.5%;
  padding-left: 22.6%;
  font-size: 18px;
  color: rgb(55, 58, 74, 0.7);
}

#use-cases {
  margin-left: 9.7%;
  margin-right: 9.7%;
  margin-top: 0;
  margin-bottom: 10%;
}

#HIW-section-title {
  text-align: left;
  font-size: 2.8vw;
  font-weight: 600;
  margin-bottom: 4vw;
}
#use-cases-section-title {
  text-align: center;
  font-size: 2.8vw;
  font-weight: 600;
  margin-bottom: 4vw;
}

#use-cases-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

#use-cases-container * {
  text-align: center;
}

#use-cases-container img {
  width: 100%;
  min-height: 25vw;
  margin: 0px;
  border-radius: 10px;
  object-fit: fill;
}

h5 {
  margin: 0;
  font-size: 1.4vw;
}
p {
  color: #6d7d8b;
  font-size: 18px;
}
.decription-text {
  margin: 0;
}
