html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

main{
    margin-left: 20%;
    margin-right: 20%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h3{
    font-size: 1.5rem;
}
h5{
    font-size:1.05rem !important;
    font-weight: 400 !important;
    font-family: inherit;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

/* CSS for profile details */
#profileDetailsView{
    background-color:  #f0f0f0;
    border: #d4d4d4 solid 1px;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.profileDetailsTitleContainer{
    display:flex;
    justify-content: space-between;
}
.outerProfileDetailsFlexBox{
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
}
#profileDetailsContainer{
    flex:3 1 0;
    min-width: 0;
    overflow-wrap: break-word;   /* wrap long words */
    word-break: break-word;      /* fallback */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    border: #d4d4d4 solid 1px;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #e0e0e0;
}

.photoCard{
    flex:1 1 0;
    width:30%;
    border: #d4d4d4 solid 1px;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #e0e0e0;
    text-align: center;
}

.photoCard img{
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
    background-color: #6D7D8B;
    margin-top:2rem;
    margin-left: auto;
    margin-right: auto;
}

.photoCardName{
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 600;
}

#profileDetailsContainer div p:last-of-type{
    border-bottom: #5f6c78 solid 1px;
}


.profileDetailTitles{
    color: #004480;
}

.aboutMeView{
    border: #d4d4d4 solid 1px;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #e0e0e0;
}

#editProfileDetails{
    box-sizing: border-box;
    display: inline-block;
    background-color: #004480;
    color: #fff;
    width: 5rem;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-top: 1rem;
}

#editProfileDetails:hover{
    opacity: 0.85;
}
/* CSS for the Experience view*/

div[id^="epxerienceView"]{
    background-color: #f0f0f0;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 6px;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.edit-experience-button{
    box-sizing: border-box;
    display: inline-block;
    background-color: #004480;
    color: #fff;
    width: max-content;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 3rem
}

.delete-experience-button{
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
    color: #004480;
    width: max-content;
    height: 2.5rem;
    border: solid 2px #004480;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 3rem
}
/* CSS for the Experience Eidt Form*/

form[id^="experienceEditForm"]{
    border: #f0f0f0 solid 2px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 6px;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.editExperienceImagesButton{
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
    color: #004480;
    width: max-content;
    height: 2.5rem;
    border: solid 2px #004480;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 0rem
}

.editExperienceVideosButton{
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
    color: #004480;
    width: max-content;
    height: 2.5rem;
    border: solid 2px #004480;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 0rem
}

.skillExperienceFlexBox{
    display:flex;
    align-items: start;
}

.editExperienceSkill{
    background-color: #f0f0f0;
    box-sizing: border-box;
    display: inline-block ! important;
    width: 90%;
    height: 2.5rem;
    padding:5px;
    padding-left:10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 6px;
    font-size: 0.95rem;
    border: none;
    margin-bottom: 0.5rem;
}

.editExperienceSkill:focus{
    outline: none;
}


.deleteExperienceTagButton{
    background-color: #f0f0f0;
    box-sizing: border-box;
    width: 10%;
    height: 2.5rem;
    padding:5px;
    padding-left:10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 0px;
    font-size: 0.95rem;
    border: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
}
.addNewExperienceSkills{
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
    color: #004480;
    width: max-content;
    height: 2.5rem;
    border: solid 2px #004480;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.saveUpdatedExperienceContainer{
    display: flex;
    justify-content: center;
}

.saveUpdatedExperience{
    box-sizing: border-box;
    display: inline-block;
    background-color: #004480;
    color: #fff;
    width: 20vw;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 1rem;
    margin-left:auto;
    margin-right:auto;

}


/* CSS for the Experience Entry Form*/

.addExperienceEntryForm{
    background-color: #5f6c78 !important;
    border-radius: 6px;
}

#addExperienceEntryForm {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 6px;
}

.experience-title {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    font-size: 16px;
    font-family: inherit;
    border: solid 2px #889aac;
    background-color: transparent;
}

.experience-description {
    width: 100%;
    min-height: 10rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    font-size: 16px;
    font-family: inherit;
    border: solid 2px #889aac;
    background-color: transparent;

}

.experience-explanation {
    width: 100%;
    min-height: 10rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    font-size: 16px;
    font-family: inherit;
    border: solid 2px #889aac;
    background-color: transparent;
}

.experienceFileView {
    margin-bottom: 1rem;
    display: inline-block; 
}

#xperienceskillsContainer{
    margin-bottom: 0rem;
}

input[class="experiences-skill-field"]{
    background-color: transparent;
    width: 100%;
    height: 2.5rem;
    border-radius: 6px;
    font-size: 0.95rem;
    border: solid 2px #889aac;
    margin-bottom: 0.5rem;

}
#addExperienceSkillButton{
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: #004480;
    width: max-content;
    height: 2.5rem;
    border: solid 2px #004480;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 3rem;
}

#addExperienceSkillButton:hover {
    background-color: #004480;
    color: #fff;
}
#add-experience {
    display: block;
    background-color: #004480;
    color: white;
    width: 20vw;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    transition: all ease.1s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#add-experience:hover {
    opacity: 0.85;
}

#deleteModalOverlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


#deleteModal {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000;
    padding-top: 2rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    border-radius: 6px;
    text-align: center;
}

#confirmDelete{
    box-sizing: border-box;
    display: inline-block;
    background-color: red;
    color: #fff;
    width: max-content;
    height: 2.5rem;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    user-select: none;
    margin-bottom: 3rem
}

#cancelDelete{
    box-sizing: border-box;
    display: inline-block;
    background-color: inherit;
    color: red;
    border: solid 1px red;
    width: max-content;
    height: 2.5rem;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    user-select: none;
    margin-bottom: 3rem

}

.modal-hidden {
    display: none !important;
}

div[id^="projectView"]{
    background-color: #f0f0f0;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 6px;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text{
    color: #6D7D8B;
    margin-top:0;
}

.imageContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10rem;
    gap: 1rem;
    margin: 0px;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #e0e0e0;
    border-radius: 6px;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.videoContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10rem;
    gap: 1rem;
    margin: 0px;
}

.videoContainer video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #e0e0e0;
    border-radius: 6px;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.skillsViewParagraph{
    background-color: #e0e0e0;
    width: 100%;
    padding: 0.5rem;
    height: 2.5rem;
    border-radius: 6px;
    font-size: 0.95rem;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.viewButtonsContainer{
    margin-top: 3rem;
}


.edit-button{
    box-sizing: border-box;
    display: inline-block;
    background-color: #004480;
    color: #fff;
    width: max-content;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 3rem
}

.delete-project-button{
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
    color: #004480;
    width: max-content;
    height: 2.5rem;
    border: solid 2px #004480;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 3rem
}
/* CSS for the Project Eidt Form*/

form[id^="projectEditForm"]{
    border: #f0f0f0 solid 2px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 6px;
    margin-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.editImagesButton{
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
    color: #004480;
    width: max-content;
    height: 2.5rem;
    border: solid 2px #004480;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 0rem
}

.editVideosButton{
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
    color: #004480;
    width: max-content;
    height: 2.5rem;
    border: solid 2px #004480;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 0rem
}

.skillFlexBox{
    display:flex;
    align-items: start;
}

.editSkill{
    background-color: #f0f0f0;
    box-sizing: border-box;
    display: inline-block ! important;
    width: 90%;
    height: 2.5rem;
    padding:5px;
    padding-left:10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 6px;
    font-size: 0.95rem;
    border: none;
    margin-bottom: 0.5rem;
}

.editSkill:focus{
    outline: none;
}


.deleteTagButton{
    background-color: #f0f0f0;
    box-sizing: border-box;
    width: 10%;
    height: 2.5rem;
    padding:5px;
    padding-left:10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 0px;
    font-size: 0.95rem;
    border: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.trashCan{
    width: 60%;
    height: 60%;
    fill: #004480;
}

.addNewSkills{
    box-sizing: border-box;
    display: inline-block;
    background-color: transparent;
    color: #004480;
    width: max-content;
    height: 2.5rem;
    border: solid 2px #004480;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-top: 1rem;
    margin-bottom: 1rem
}

.saveUpdatedProjectContainer{
    display: flex;
    justify-content: center;
}

.saveUpdatedProject{
    box-sizing: border-box;
    display: inline-block;
    background-color: #004480;
    color: #fff;
    width: 20vw;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 1rem;
    margin-left:auto;
    margin-right:auto;

}


/* CSS for the Project Entry Form*/

#addProjectEntryForm {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 6px;
}

.project-title {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    font-size: 16px;
    font-family: inherit;
    border: solid 2px #889aac;
    background-color: transparent;
}

.project-description {
    width: 100%;
    min-height: 10rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    font-size: 16px;
    font-family: inherit;
    border: solid 2px #889aac;
    background-color: transparent;

}

.project-explanation {
    width: 100%;
    min-height: 10rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    font-size: 16px;
    font-family: inherit;
    border: solid 2px #889aac;
    background-color: transparent;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: block;
    box-sizing: border-box;
    background-color: transparent;
    text-align: center;
    color: #004480;
    width: 10vw;
    min-width: max-content;
    height: 2.5rem;
    border: solid 2px #004480 !important;
    border-radius: 6px;
    font-size: 0.95rem !important;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    user-select: none
}

.custom-file-upload:hover {
    background-color: #004480;
    color: #fff;
}

.fileView {
    margin-bottom: 1rem;
    display: inline-block; 
}

input[class="skill-field"]{
    background-color: transparent;
    width: 100%;
    height: 2.5rem;
    border-radius: 6px;
    font-size: 0.95rem;
    border: solid 2px #889aac;
    margin-bottom: 0.5rem;

}

#skills-container{
    margin-bottom: 0rem;
}


#addSkillButton{
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: #004480;
    width: max-content;
    height: 2.5rem;
    border: solid 2px #004480;
    border-radius: 6px;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: 500 !important;
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 5px 5px;
    user-select: none;
    margin-bottom: 3rem;
}

#addSkillButton:hover {
    background-color: #004480;
    color: #fff;
}
#add-project {
    display: block;
    background-color: #004480;
    color: white;
    width: 20vw;
    height: 2.5rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    transition: all ease.1s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#add-project:hover {
    opacity: 0.85;
}


.addProjectEntryForm{
    background-color: #5f6c78 !important;
    border-radius: 6px;
}