.active {
  color: #c16200;
}

/*Header*/

header {
  width: 100% !important;
  background-color: #003666 !important;
}

.header-nav {
  margin: 0 auto !important;
  margin-bottom: 0rem !important;
  width: 84% !important;
  font-family: manrope;
  padding: 1rem 5px !important;
  border-radius: 80px !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  display: flex;
  align-items: center;
}

.header-nav > ul {
  min-width: 100%;
  list-style: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding-left: 0px !important;
  gap: 1rem !important;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-nav a {
  color: #fff !important;
  text-decoration: none !important;
  padding-bottom: 2px !important;
}

.header-menu {
  list-style: none !important;
  display: flex !important;
  align-items: center !important;
  gap: 1rem !important;
  margin: 0 !important;
  padding: 0 !important;
}

.header-menu li {
  flex-basis: max-content !important;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.header-menu li a {
  font-size: 13px !important;
  font-weight: 600 !important;
  transition: all ease 0.1s !important;
}
.header-nav-title:hover a {
  color: #f2af29 !important;
}

.header-logo {
  color: #fff !important;
  font-size: 23px !important;
  font-weight: 200 !important;
}

.logo-dot {
  color: #ffbb00 !important;
  font-weight: 800 !important;
}
.cta a {
  padding: 6px 12px !important;
  border-radius: 6px !important;
  color: #fff !important;
  background-color: hsl(0, 0%, 100%, 20%);
  text-decoration: none !important;
  line-height: 1 !important;
  font-weight: 700 !important;
}

.cta a:hover {
  background-color: #fff;
  color: #004480 !important;
}

/* Footer */

footer {
  margin-top: 3rem;
  padding-top: 3rem;
  width: 100% !important;
  height: 250px;
  background-color: #003666 !important;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  justify-content: space-between;
  margin-right: 9.7%;
  margin-left: 9.7%;
}

.footer-logo {
  color: #fff !important;
  margin-top: 0px !important;
  font-size: 23px !important;
  font-weight: 200 !important;
}

.logo-dot {
  color: #ffbb00 !important;
  font-weight: 800 !important;
}

.logo-text {
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  width: 15vw !important;
}

.footer-nav-title {
  list-style: none !important;
}

.footer-menu {
  display: grid !important;
  text-align: left !important;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 1rem !important;
  margin-top: 0px !important;
}

.footer-nav-title a {
  color: #fff !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  text-decoration: none;
}
